/* .radar-chart {
  position: relative;
}
.radar-chart:before {
  display: block;
  content: "";
  padding-top: 100%;
}
.radar-chart canvas {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
} */