.thats-all-folks {
  margin-top: 2rem;
  font-weight: 400;
}
.thats-all-folks span {
  display: inline-block;
  cursor: default;
  transition: all 0.2s linear;
  transform-origin: 0 50%;
}
.thats-all-folks span:hover {
  transform: scale(1.2);
}