@import "node_modules/spectre.css/src/spectre";
@import "node_modules/spectre.css/src/spectre-exp";

/* Spectre.css overrides */
.content ul,
.content ol {
  list-style: none outside none;
  padding-left: 1.5em;
}
.content ol {
  counter-reset: ol-counter;
}
.content li {
  list-style: none outside none;
}
.content ul:not(.step) > li:before {
  content: "â—";
  font-family: "Arial";
  float: left;
  width: 1.5em;
  margin-left: -1.5em;
  text-align: center;
}
.content ol > li:before {
  content: counter(ol-counter);
  counter-increment: ol-counter;
  float: left;
  width: 0.9rem;
  border-radius: 0.25em;
  background: transparent;
  color: inherit;
  font-weight: bold;
  font-size: 0.7em;
  font-family: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: calc(-1.5rem + 0.5rem / 2);
  height: 0.9rem;
  line-height: 1rem;
  margin-top: calc((0.8rem * 1.5 - 1rem) / 2 + 0.05rem);
}
.content ol.inverted > li:before {
  background: black;
  color: white;
  font-weight: normal;
}
.content .bubble ol.inverted > li:before {
  background: white;
  color: #0084ff;
  font-weight: bold;
  border-radius: 100%;
}

/* Alternative to <details> compatible with Safari */
.details > input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background: none;
  transition: 0.2s;
  cursor: pointer;
  width: 1.5em;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;
  height: 1.5em;
  vertical-align: top;
  outline: none;
}
.details > input:after {
  content: " ";
  border-top: 0.35em solid transparent;
  border-bottom: 0.35em solid transparent;
  border-left: 0.5em solid black;
  position: relative;
  width: 0.5em;
  height: 0.7em;
  cursor: pointer;
}
.details > input:checked {
  transform: rotate(90deg);
}
.details > label.summary {
  cursor: pointer;
  display: inline-block;
}
.details > input:checked ~ div {
  display: block;
}
.details > div {
  display: none;
}
.details > div.labels {
  margin-top: 0.5em;
}
.details > div:after {
  content: " ";
  clear: both;
  display: block;
}

/* Details as a list item */
.content li.details {
  list-style-type: none;
}
.content li.details:before {
  display: none;
}
.content .details > input {
  float: left;
  margin-left: -1.5em;
}

/* Navbar */
.navbar .logo {
  height: 2em;
  display: block;
}
.navbar .home {
  text-decoration: none;
  color: inherit;
}

/* Elements */
.content hr {
  border: none;
  height: 2px;
  background: lightgrey;
  margin: 2rem 0;
}
.content hr.small {
  height: 1px;
  margin: 1rem 0;
}
.content ol,
.content ul {
  margin: 0.25rem 0 0.5rem 0rem;
}
.content ol {
  list-style: outside decimal;
}
.content ul {
  list-style: outside disc;
}
.content ol li,
.content ul li {
  margin-bottom: 0.25rem;
  margin-top: 0;
}
.content ol li:last-child,
.content ul li:last-child {
  margin-bottom: 0;
}
.content ol.compact,
.content ol.compact li,
.content ul.compact,
.content ul.compact li {
  margin: 0;
}
.content p {
  margin-bottom: 0.25rem;
}
.content p:last-child {
  margin-bottom: 0;
}
.content img {
  max-width: 100%;
}
.content blockquote {
  border-left: 0.1rem solid #dadee4;
  margin-left: 0;
  padding: 0 0.75rem;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}
.content pre {
  padding: 0.5em;
  margin: 0.25rem 0;
}
.content pre:first-child {
  margin-top: 0;
}
.content pre:last-child {
  margin-bottom: 0;
}
.content pre code {
  display: block;
  padding: 0;
  background: none;
  font-size: 85%;
  line-height: 1.4;
  font-family: "SF Mono", "Segoe UI Mono", "Roboto Mono", Menlo, Courier, monospace;
  color: inherit;
}
.content :not(pre) > code {
  font-size: 85%;
  line-height: 1.25;
  border-radius: 0.1rem;
  padding: 0.1rem 0.2rem;
  background: #fcf2f2;
  color: #d73e48;
}
.content a:hover code {
  text-decoration: underline;
}

/* Collapsible */
.content ul.collapsible li {
  list-style: none outside none;
}
.content ul.collapsible .accordion .accordion-header {
  padding: 0;
  cursor: pointer;
  margin-left: -1.25rem;
}
.content ul.collapsible .accordion .accordion-header .icon {
  display: inline-block;
  width: 1.25rem;
  text-align: center;
}
.content ul.collapsible .accordion .accordion-body:last-child {
  margin-bottom: 0;
}

/* Author */
.content .author {
  font-size: 14px;
  padding: 1em;
  background: whitesmoke;
  border-radius: 0.5em;
  display: flex;
}

/* Avatar */
.avatar-wrapper {
  flex: 0 0 6em;
  width: 6em;
  margin-right: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.avatar-wrapper > object,
.avatar-wrapper > .avatar-object {
  position: relative;
  display: block;
  flex: 1 0 auto;
}

/* Contacts */
.content .contacts {
  list-style: none outside none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  white-space: nowrap;
  font-size: 0.9em;
  font-weight: 400;
}
.content .contacts li {
  margin-bottom: 0.25em;
  margin-right: 1em;
  margin-top: 0;
}
.content .contacts li:before {
  display: none;
}
.content .contacts li a {
  color: black;
  transition: color 0.2s ease-in-out;
}
.content .contacts li a:hover {
  text-decoration: none;
}
.content .contacts li a.facebook:hover {
  color: #3b5998;
}
.content .contacts li a.github:hover {
  color: dimgrey;
}
.content .contacts li a.mail:hover {
  color: dimgrey;
}
.content .contacts li a.skype:hover {
  color: #00aff0;
}
.content .contacts li a.linkedin:hover {
  color: #0077b5;
}
.content .contacts li a.phone:hover {
  color: dimgrey;
}
.content .contacts li a.website:hover {
  color: dimgrey;
}
.content .contacts li a .icon {
  fill: currentColor;
  height: 16px;
  vertical-align: bottom;
  width: auto;
  margin-right: 0.25em;
}

/* Profile */
.content .profile .name {
  margin-bottom: 0;
  font-size: 1.4em;
  line-height: 1.5em;
}
.content .profile .about {
  margin: 0;
}

/* Speech bubble */
.content .bubble {
  background: linear-gradient(to right, #0084ff, #00c4ff);
  color: white;
  border-radius: 0.25em 1em 1em 1em;
  padding: 0.4em 0.8em;
  margin-top: 0;
  display: inline-block;
  position: relative;
  overflow: visible;
  transition: opacity 0.2s ease-in-out;
}
.content .bubble.small {
  font-size: 0.85em;
}
.content .bubble.subtle {
  opacity: 0.5;
}
.content .bubble.subtle:hover {
  opacity: 1;
}
.content .bubble a {
  color: inherit;
}
.content p + div > .bubble:first-child {
  margin-top: -0.25rem;
}

/* Messages */
.content .messages .messages__from:not(:first-of-type) {
  margin-left: 0.5em;
}
.content .messages .messages__from {
  vertical-align: text-top;
  cursor: pointer;
  opacity: 0.5;
  transition: all 0.2s linear;
}
.content .messages .messages__from + label {
  padding-left: 0.25em;
  cursor: pointer;
  opacity: 0.5;
  transition: all 0.2s linear;
}
.content .messages .messages__from:hover,
.content .messages .messages__from:hover + label,
.content .messages .messages__from:checked,
.content .messages .messages__from:checked + label {
  opacity: 1;
}
.content
  .messages
  input[id="lionel-messi"]:checked
  ~ div[data-from="lionel-messi"] {
  display: block;
}
.content
  .messages
  input[id="andres-iniesta"]:checked
  ~ div[data-from="andres-iniesta"] {
  display: block;
}
.content
  .messages
  input[id="donald-trump"]:checked
  ~ div[data-from="donald-trump"] {
  display: block;
}
.content .messages input[id="ryu"]:checked ~ div[data-from="ryu"] {
  display: block;
}
.content .messages input[id="you"]:checked ~ div[data-from="you"] {
  display: block;
}
.content .messages .message {
  margin-top: 0.5em;
}
.content .messages input + label ~ .message {
  display: none;
}

/* Table of contents */
.content .table-of-contents .step {
  list-style: none outside none;
  margin: 0;
  padding: 0;
}
.content .table-of-contents .step .step-item:before {
  content: "";
  height: 2px;
  left: 10px;
  position: absolute;
  top: 9px;
  width: 100%;
  background: rgb(87, 85, 217);
}
.content .table-of-contents .step .step-item:last-child:before {
  width: calc(100% - 20px);
}
.content .table-of-contents .step .step-item {
  text-align: left;
}
.content .table-of-contents .step .step-item a:before {
  left: auto;
}
.content .table-of-contents .step .step-item a:hover {
  text-decoration: underline;
}
.content .table-of-contents .step .step-item a:nth-of-type(2) {
  padding-top: 0;
}

/* Columns */
.column {
  padding: 0.4rem;
}

/* Panels */
.panel .panel-header h6 {
  margin: 0;
  display: flex;
  justify-content: space-between;
}
.panel .panel-header,
.panel .panel-footer {
  padding: 1em;
}
.panel .panel-body:last-child {
  padding: 0 1em 1em;
}

/* Accordions */
.accordion input:checked ~ .accordion-body,
.accordion[open] .accordion-body {
  max-height: 100rem;
}

/* Gatsby overrides */
.content .gatsby-highlight {
  margin: 0.25rem 0;
}
.content .gatsby-highlight:first-child {
  margin-top: 0;
}
.content .gatsby-highlight:last-child {
  margin-bottom: 0;
}